html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
  }

  h1 {
    font-size: 80px;
    margin: 30px;
  }
 
body {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}  

body * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.board {
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    height: 350px;
    width: 350px;
  }

.board div {
    border: 1px solid lightgrey;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

#container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 20px;
}  

#infoPanel {
  height: 350px;
  width: 180px;
  flex-direction: column;
}

#mainItemInfoP {
  width: 180px;
  height: 150px;
}

#subItemInfoP {
  width: 180px;
  height: 50px;
}



#lowerPanel {
  height: 190px;
  width: 900p
}

#pShips {
  height: 190px;
  width: 280p
}

#aiShips {
  height: 190px;
  width: 280p
}

#hitInfo {
  height: 190px;
  width: 300px;
  flex-direction: row;
}

#playerHitInfo {
  height: 190px;
  width: 150px;
  flex-direction: column;
}

#aiHitInfo {
  height: 190px;
  width: 150px;
  flex-direction: column;
}

#playerMainHitMessage {
  width: 150px;
  height: 90px;
  font-size: 25px;
  margin-bottom: -15px;;
}

#playerSubHitMessage {
  width: 150px;
  height: 90px;
  font-size: 25px;
  margin-top: -15px;
  flex-wrap: wrap;
}

#aiMainHitMessage {
  width: 150px;
  height: 90px;
  font-size: 25px;
  margin-bottom: -15px;;
}

#aiSubHitMessage {
  width: 150px;
  height: 90px;
  font-size: 25px;
  margin-top: -15px;
  flex-wrap: wrap;
}