html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
  }

  h1 {
    font-size: 60px;
    margin: 10px;
  }
 
body {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}  

body * {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid lightgrey; */
  }

.board {
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    height: 350px;
    width: 350px;
  }

.board div {
    border: 1px solid lightgrey;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

#container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 0;
    font-size: 25px;
}  

#infoPanel {
  height: 350px;
  width: 180px;
  flex-direction: column;
}

#info1, #info2, #info3 {
  width: 180px;
  height: 30px;
}

#lowerPanel {
  height: 300px;
  width: 900px;
  justify-content: space-between;
  font-size: 35px;
}

#pInfo, #aiInfo {
  height: 300px;
  width: 320px;
  flex-direction: column;
}

#pMessage1, #pMessage2, #aiMessage1, #aiMessage2 {
  height: 30px;
  width: 320px;
}

#pShips {
  height: 200px;
  width: 320px;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  padding-left: 15px;
}

#aiShips {
  height: 200px;
  width: 320px;
  justify-content: space-evenly;
  padding-right: 15px;
}

.ship {
  /* filter: drop-shadow(4px 4px 4px green); */
  /* filter:grayscale(100%); */
}

#pShip0, #aiShip0 {
  height: 180px;
  width: 47px;
}
#pShip1, #aiShip1 {
  height: 140px;
  width: 45px;
}
#pShip2, #aiShip2, #pShip3, #aiShip3 {
  height: 100px;
  width: 35px;
}

#pShip4, #aiShip4 {
  height: 65px;
  width: 35px;
}

/* 8BIT BUTTONS TAKEN FROM https://www.daddydesign.com/wordpress/updated-how-to-make-digital-8-bit-style-corners-using-only-css/ */
#restart{
  width: 120px;
  float: left;
  border-left: 5px solid green;
  border-right: 5px solid green;
  position: relative;
  margin-top: 55px;
  box-sizing: border-box;
  }
   
  #restart #restartWrap{
  cursor: pointer;
  display: block;
  color: green;
  padding: 5px;
  margin: -3px 0;
  border-top: 5px solid green;
  border-bottom: 5px solid green;
  }
   
  #restart::before,
  #restart::after,
  #restart #restartWrap::before,
  #restart #restartWrap::after{
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background: green;
  }
  #restart::before{ top: -5px; left: -1px; }
  #restart::after{ top: -5px; right: -1px; }
  #restart #restartWrap::before{ bottom: -5px; left: -1px; }
  #restart #restartWrap::after{ bottom: -5px; right: -1px; }
